body {
    background-color: antiquewhite;
}
button.octagon {
    background: none;
    color: white;
    /* white text */
    font-family: "Impact", sans-serif;
    /* blocky, heavy font */
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: rgb(223, 23, 23);
    color: white;
    font-size: 60px;
    -webkit-appearance: none;
    width: 200px;
    height: 200px;
    clip-path: polygon(30% 0%, 70% 0%,
                100% 30%, 100% 70%,
                70% 100%, 30% 100%,
                0% 70%, 0% 30%);
}

button.hiding:focus,
button.hiding:active {
    outline: green;
    box-shadow: grey;
}

.draggable-wrapper {
    position: absolute;
    /* take it out of the normal flow */
    top: 20px;
    /* vertical offset */
    left: 30px;
    /* horizontal offset */
    /* optional sizing or styling */
    width: 10px;
    height: 40px;
    cursor: move;
    /* show that it can be dragged */
}

< !-- HTML !--><button class="button-89" role="button">Button 89</button>

/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}
